* {
    margin: 0 auto;
    padding: 0 auto;
    
}

.cuerpo {
    background-color: #38AECC;
    width: 100%;
}

/*Estilos de cabecera*/

.header {
    display: grid;
    grid-template-columns:  repeat(2, 1fr);
    height: 100px;
    width: 100%;
    background-color: #183446;
    border-bottom: 2px solid #046E8F;
    align-items: center;
}


.header__titulo {
    margin-left: 20px;
    font-size: 30px;
    color: white;
}

.header__titulo-color {
    color: #38AECC;
}

.header__titulo-color:hover {
    color: white;
}


.header__list {
    display: flex;
    justify-content: space-around;
    margin: 0px;
    text-align: center;
    align-items: center;
    list-style: none;
}

.ul__list a {
    text-decoration: none;
    color: white;
}

.ul__list a:hover {
    color: #38AECC;
}

/*Fin de Estilos de cabecera*/

/*Estilos de main*/

.main {
    margin: 0px;
    padding: 0px;
    margin-top: 10%;
    color: white;
}

.main__section {
    justify-content: center;
}

.section__article-us {
    margin: 20%;
    height: auto;
    justify-content: center;
}

.article__titulo {
    margin-bottom: 10%;
    text-align: center;
}

.info {
    margin: 10% 0 10% 0;
}

.article__img {
    text-align: center;
}

.article__img img {
    width: 500px;
    height: 500px;
    border-radius: 10px;
}

.article__parf {
    display: flex;
    align-items: center;
}

/*Proximas paginas*/

.pronto {
    display: flex;
    height: 100vh;
    width: 100%;
    background-color: #38AECC;
    justify-content: center;
    align-items: center;
}

.pronto span {
    color: white;
    font-size: 100px;
}

/*Mobile*/
@media (max-width: 480px) {
    
    .header {
        grid-template-columns: 1fr ;
        height: 150px;
        justify-content: center;
        
    }

    .header__titulo {
        margin: 0px;
        text-align: center;
        font-size: 30px;
        color: white;
    }

    .header__list {
        padding: 0px;
        justify-content: center;
    }

    .article__img img {
        width: 300px;
        height: 300px;
        margin: 30px 0 30px 0;
        order: 1;
    }

    .article__parf {
        order: 2;
    }

}

/*Extra small devices*/
@media (min-width: 481px) and (max-width: 767px) {
    
    .header {
        grid-template-columns: 1fr ;
        height: 150px;
        justify-content: center;
    }

    .header__titulo {
        text-align: center;
        margin: 0px;
        font-size: 30px;
        color: white;
    }

    .article__img img {
        width: 300px;
        height: 300px;
        margin: 30px 0 30px 0;
        order: 1;
    }

    .article__parf {
        order: 2;
    }

} 

/*Small tablets*/
@media (min-width: 768px) and (max-width: 991px) {

    .header {
        height: 150px;
        justify-content: center;
        text-align: center;
    }

    .header__titulo {
        margin: 0px;
    }

    .header__list {
        margin: 0px;
        text-align: center;
        list-style: none;
    }

    .ul__list a {
        font-size: 13px;
    }

    .article__img img {
        width: 300px;
        height: 300px;
        margin: 30px 0 30px 0;
    }

    .article__parf {
        font-size: 13px;
    }
}

/*Large tablets/Laptops*/
@media (min-width: 992px) and (max-width: 1199px) {
    

    .article__img img {
        width: 350px;
        height: 350px;
        margin: 30px 0 30px 0;
    }
}

/*Desktop*/
@media (min-width: 1200px) and (max-width: 1919px) {

    /*No fue necesario efectuar cambios*/
    
};

/*Fin de Estilos de main*/

/*Estilos de footer*/

footer {
    height: 100px;
    background-color: #183446;
    text-align: center;
    align-items: center;
}

.footer__text {
    color: white;
}

/*Fin de Estilos de footer*/