* {
    margin: 0 auto;
    padding: 0 auto;
    
}

.cuerpo {
    background-color: #38AECC;
    width: 100vw;
}

/*Estilos de cabecera*/

.header {
    overflow-x: hidden;
    height: 100px;
    width: 100vw;
    background-color: #183446;
    border-bottom: 2px solid #046E8F;
    align-items: center;
}


.header__titulo {
    margin: 0px;
    margin-left: 20px;
    font-size: 30px;
    color: white;
}

.header__titulo-color {
    color: #38AECC;
}

.header__titulo-color:hover {
    color: white;
}


.header__list {
    margin: 0px;
    text-align: center;
    list-style: none;
}

.ul__list a {
    text-decoration: none;
    color: white;
}

.ul__list a:hover {
    color: #38AECC;
}

/*Fin de Estilos de cabecera*/

/*Estilos de main*/

.main {
    margin: 0px;
    padding: 0px;
    margin-top: 10%;
    color: white;
}

.main__section {
    justify-content: center;
}

.section__article {
    margin: 20%;
    height: auto;
    justify-content: center;
}

.article__titulo {
    margin-bottom: 10%;
    text-align: center;
}

.info {
    margin: 10% 0 10% 0;
}

.article__img {
    text-align: center;
}

.article__img img {
    width: 500px;
    height: 500px;
    border-radius: 10px;
}

.article__parf {
    display: flex;
    align-items: center;
}

/*Fin de Estilos de main*/

/*Estilos de footer*/

footer {
    height: 100px;
    background-color: #183446;
    border-bottom: 2px solid #046E8F;
    text-align: center;
    align-items: center;
}

.footer__text {
    color: white;
}